# Python cache and temporary files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/



# Model files
models/
*.pkl
*.joblib

# Virtual environments
venv/
env/
*.env

# Logs
*.log

# IDE/editor settings
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
